body {
  font-size: 16px;
  color: black;
}

/** HEADER **/
#header-nav .container {
  margin: 0;
}

#header-nav {
  background-color: lightskyblue;
  border-radius: 0;
  border: 2px solid black;
}

.navbar-brand {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-brand a {
  font-weight: bold;
  color: black;
  font-size: 1.5em;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -45px;
}

#nav-list {
  background-color: lightgray;
  margin-top: 0;
  margin-bottom: 0;
}

#collapsable-nav a {
	color: black;
}

/*MAIN CONTENT*/
#main-content h2 {
	margin: 0;
	margin-bottom: 20px;
}

#main-content section {
	background-color: lightgray;
	margin: 10px;
}

#main-content .food-title {
	text-align: center;
	margin: 5px auto 5px;
}

#main-content .food-description {
	text-align: center;
	/*margin-bottom: 5px;*/
}
